<ion-header>
  <ion-toolbar>
    <ion-title><a href="/folder/texto" >Voltar</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  PRODUTOS DENTSPLYLIDOSTESIM
  LIDOSTESIM
  Lidocaína: O sal anestésico lidocaína foi sintetizado por Lofgren em 1943, sendo o agente anestésico do tipo amida mais antigo do grupo, considerado droga padrão do grupo. As reações adversas relativas a este sal são similares aos outros anestésicos do tipo amida, sendo pouco frequentes em pacientes saudáveis. É metabolizada pelas enzimas microssomais hepáticas e excretada pelos rins. O tempo de meia-vida da lidocaína é de aproximadamente 90 minutos sendo eliminada completamente em 10 horas.
  Hemitartarato de Norepinefrina:
  Vasoconstritor relativamente estável em soluções ácidas, a norepinefrina se deteriora quando exposta à luz, ao ar e a variações de temperatura ambiente, sendo este efeito minimizado com a presença de Metabissulfito de Sódio na formulação. Atua em receptores alfa e beta1 adrenérgicos, com potência de 25% comparando à adrenalina. Sua concentração no Lidostesim 2% e 3% é de 1:50.000 (0,036 mg/tubete), garantindo vasoconstrição semelhante à da adrenalina.
  Indicações de uso:
  Procedimentos de duração intermediária (60 min de anestesia pulpar): maioria dos procedimentos odontológicos (dentística, endodontia, cirurgia). Indicada para quando se necessita de controle prolongado da dor, apresentando pouca ação hemostática.
  Vantagens:
  Sendo o sal anestésico mais conhecido, a lidocaína é indicada para a maioria dos pacientes odontológicos.
  Apresentação:
  Caixa com 50 tubetes.

</ion-content>
