<ion-header translucent>
    <ion-toolbar>
      <ion-title><a href="/folder/folder" >Voltar</a></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-justify">
            <b>TÉCNICAS DA MAXILA</b> 
            <br><br>
  INJEÇÃO SUPRAPERIOSTEAL<br><br>
  <p>
    A injeção supraperiosteal, mais comumente (porém, incorretamente) 
    chamada de infiltração local, e a técnica de anestesia local usada com mais 
    frequência para a obtenção da anestesia pulpar nos dentes superiores. 
    Embora seja um procedimento simples com elevada frequência de êxito, há 
    algumas razões validas para se usar outras técnicas (p. ex., bloqueios regionais de nervo) 
    sempre que mais de dois ou três dentes estiverem envolvidos no tratamento. A injeção supraperiosteal 
    é indicada sempre que os procedimentos odontológicos são confinados a uma área relativamente circunscrita, 
    seja na região dos incisivos maxilares ou mandibulares.</p>
    <b>Nervos Anestesiados.</b> 
    Grandes ramos terminais do plexo dentário.
    <p><b>Áreas Anestesiadas.</b> 
    Toda a região inervada pelos grandes ramos terminais desse plexo: 
    polpa e área da raiz do dente, periósteo vestibular, tecido conjuntivo e mucosa.
  </p>
  <br><br>
  <ion-col size="6">
    <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711331999180259468/aseasea.png" >
    </ion-img>
  </ion-col>
  <p>
    Injeção supraperiosteal na região anterior da maxila.
    Note a área anestesiada (amarela).
  </p>
  <ion-col size="6">
    <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711333021789192252/aseasea.png" >
    </ion-img>
  </ion-col>
  <p> A seringa deve ser mantida paralela ao eixo longo do dente e inserida na parte alta da prega mucovestibular sobre o dente.
  </p>
  <b>
  Técnica
  </b>
  <ion-item-group>
    <ion-item>
      <b>1.</b> É recomendada agulha longa.
    </ion-item>
    <ion-item>
        <b>2.</b> Área de introdução: altura da prega mucovestibular acima do ápice do dente a ser. 
      </ion-item>
     
      <ion-item>
        <b>3.</b> Área-alvo: região apical do dente a ser anestesiado.
      </ion-item>
     
      <ion-item>
        <b>4.</b> Pontos de referência:
      </ion-item>
      
      <ion-item>
           <b>a.</b> Prega mucovestibular
        </ion-item>
       
        <ion-item>  
           <b>b.</b>  Coroa do dente
        </ion-item>
       
        <ion-item>  
           <b>c.</b>  Contorno da raiz do dente
        </ion-item>
        
        <ion-item>
    <b>5.</b> Orientação do bisel*: voltado para o osso.
  </ion-item>
  
  <ion-item>
    <b>6.</b> Procedimento:
  </ion-item>
    <ion-item>
        <b>a.</b> Preparar o tecido no local de injeção.
    </ion-item>
  
    <ion-item>
        (1) Limpar com gaze seca estéril.
      </ion-item>
  
      <ion-item>
        (2) Aplicar um antisséptico tópico (opcional).
      </ion-item>
  
      <ion-item>
        (3) Aplicar anestésico tópico por, no mínimo, 1 minuto.
      </ion-item>
  
      <ion-item>
        <b>b.</b>Orientar a agulha de modo que o bisel esteja voltado para o osso.
    </ion-item>
  
    <ion-item>
        <b>c.</b> Levantar o lábio e tensionar o tecido.
    </ion-item>
  
    <ion-item>
      <b>d.</b>Segurar a seringa paralela ao longo eixo do dente.
    </ion-item>
  
    <ion-item>
      <b>e.</b>Introduzir a agulha na altura da prega mucovestibular sobre o dente-alvo.
    </ion-item>
  
    <ion-item>
      <b>f.</b>Avançar a agulha até que o bisel esteja na região apical do dente ou acima desta. 
      Na maioria dos casos, profundidade da penetração será de apenas alguns milímetros. 
      Como a agulha está no tecido mole (não tocando o osso), não deve haver resistência ao 
      seu avanço nem deve haver qualquer desconforto para o paciente com esta injeção.
    </ion-item>
    
    <ion-item>
      <b>g.</b>Aspirar duas vezes.
    </ion-item>
  
    <ion-item>
      (1) Caso a aspiração seja negativa, injetar aproximadamente 0,6 ml 
      (um terço de um tubete) lentamente em 20 segundos. (Não deixe os tecidos inflarem como um balão).
    </ion-item>
  
    <ion-item>
      <b>h.</b>Retirar a seringa lentamente.
    </ion-item>
  
      <b>Bloqueio do Nervo Alveolar Superoposterior</b>
      <p>
        O bloqueio do nervo alveolar superoposterior (ASP) e um bloqueio de nervo 
        dentário comumente utilizado. Embora seja uma técnica que apresenta elevada 
        frequência de êxito (> 95%), há vários aspectos que devem ser considerados em seu uso. 
        Estes incluem a extensão da anestesia produzida e o potencial de formação de hematomas.
       <b> Nervos Anestesiados:</b> Alveolar superoposterior e seus ramos.
      <b>Áreas Anestesiadas:</b>
      </p>
      
      <ion-item>
        <b>1.</b> Polpas do terceiro, segundo e primeiro molares superiores 
        (todo o dente = 72%; raiz mesiovestibular do primeiro molar superior não anestesiada = 28%).
      </ion-item>
  
      <ion-item>
        <b>2.</b>Tecido periodontal vestibular e osso sobrejacente a estes dentes.
      </ion-item>
  
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711382927644164218/aseasea.png" >
        </ion-img>
      </ion-col>
  
      <p>Área anestesiada pelo bloqueio nervoso alveolar superoposterior (ASP). 
      Superfície infratemporal da maxila; tuberosidade da maxila.
      </p>
  
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711383184633364530/aseasea.png" >
        </ion-img>
      </ion-col>
  
      <p>Agulha na área-alvo para bloqueio nervoso alveolar superoposterior (ASP).</p>
  
      <b>
        Técnica
        </b>
          <ion-item>
            <b>1.</b> Uma agulha curta de calibre 27 e recomendada.
          </ion-item>
          <ion-item>
              <b>2.</b>Área de introdução: altura da prega mucovestibular acima do segundo molar superior.
            </ion-item>
           
            <ion-item>
              <b>3.</b> Área-alvo: nervo ASP — posterior, superior e medial a borda posterior da maxila. 
            </ion-item>
           
            <ion-item>
              <b>4.</b> Pontos de referência:
            </ion-item>
            
            <ion-item>
                 <b>a.</b> Prega mucovestibular
              </ion-item>
             
              <ion-item>  
                 <b>b.</b>  Tuberosidade da maxila
              </ion-item>
             
              <ion-item>  
                 <b>c.</b>  Processo zigomático da maxila
              </ion-item>
        
  <ion-item>
    <b>5.</b> Orientação do bisel: voltado para o osso durante a injeção. 
    Caso o osso seja tocado acidentalmente, a sensação será menos desagradável.
  </ion-item>
  
  <ion-item>
    <b>6.</b> Procedimento:
  </ion-item>
    <ion-item>
        <b>a.</b> Assumir a posição correta:
    </ion-item>
  
    <ion-item>
        (1)  Para o bloqueio do nervo ASP esquerdo, o administrador destro deve sentar-se 
        de frente para o paciente na posição de 10 horas.
      </ion-item>
  
      <ion-item>
        (2) Aplicar um antisséptico tópico (opcional).Para o bloqueio do nervo ASP direito, 
        o profissional destro deve sentar-se de frente para o paciente na posição de 8 horas.
      </ion-item>
  
      <ion-item>
        <b>a.</b> . Assumir a posição correta:b. Preparar os tecidos na altura 
        da prega mucovestibular para a introdução.
    </ion-item>
  
    <ion-item>
      (1)  Secar com gaze estéril.
    </ion-item>
  
    <ion-item>
      (2) Aplicar um antisséptico tópico (opcional).
    </ion-item>
  
    <ion-item>
      (3) Aplicar um anestésico tópico por, no mínimo, 1 minuto.
    </ion-item>
  
    <ion-item>
      <b>c.</b>Orientar o bisel da agulha voltado para o osso.
    </ion-item>
  
  <ion-item>
      <b>d.</b> Abrir parcialmente a boca do paciente, puxando a mandíbula para o lado da injeção.
  </ion-item>
  
  <ion-item>
    <b>e.</b>Retrair a bochecha do paciente com seu dedo (para melhorar a visibilidade).
  </ion-item>
  
  <ion-item>
    <b>f.</b>Tensionar os tecidos no local da injeção.
  </ion-item>
  
  <ion-item>
    <b>g.</b>Introduzir a agulha na altura alta da prega mucovestibular sobre o segundo molar.
  </ion-item>
  
  <ion-item>
    <b>h.</b>AAvançar a agulha lentamente para cima, para dentro e para trás em um só movimento
     (não em três movimentos).
  </ion-item>
  
  <ion-item>
    (1)	Para cima: superiormente em um angulo de 45 graus com plano oclusal.
  </ion-item>
  
  <ion-item>
    (2) Para dentro: medialmente em direção à linha média em um ângulo de 45 graus com o plano oclusal.
  </ion-item>
  
  <ion-item>
    (3) Para trás: posteriormente em um ângulo de 45 graus com o eixo longitudinal do segundo molar.
  </ion-item>
  
  <ion-item>
    <b>i.</b>Avançar lentamente através dos tecidos moles.
  </ion-item>
  
  <ion-item>
    (1) Não deve haver resistência e, portanto, nenhum desconforto para o paciente.
  </ion-item>
  
  <ion-item>
    (2) Caso seja encontrada alguma resistência (osso), o ângulo da agulha em direção à linha média está muito grande.
  </ion-item>
  
  <ion-item>
    (a) Retirar ligeiramente a agulha (mas não a remover totalmente dos tecidos) e aproximar o cilindro da seringa do plano oclusal.
  </ion-item>
  
  <ion-item>
    (b) Avançar a agulha novamente.
  </ion-item>
  
  <ion-item>
  <b>j.</b>Avançar a agulha até a profundidade desejada.
  </ion-item>
  
  <ion-item>
    (1) No adulto de tamanho normal, a penetração 	uma profundidade de 16 mm colocará a ponta da agulha muito próxima do forame através do qual o nervo ASP entra na face posterior da maxila. Quando uma agulha longa é usada (comprimento médio de 32 mm), ela é introduzida até a metade de seu comprimento no tecido. Caso seja usada uma agulha curta (comprimento médio de 20 mm), aproximadamente 4 mm devem permanecer visíveis.
  </ion-item>
  
  <ion-item>
    (2) Em adultos menores e crianças, é prudente interromper o avanço da agulha curta antes de alcançar a profundidade de penetração habitual, para evitar possível hematoma causado por penetração excessiva. A penetração até uma profundidade de 10 a 14 mm coloca a extremidade da agulha na área-alvo na maioria dos pacientes de crânio pequeno.
  </ion-item>
  
  <ion-item>
    <b>k.</b>Aspirar em dois planos.
    </ion-item>
  
    <ion-item>
      (1) Rotacionar o cilindro da seringa (bisel da agulha) um quarto de volta e aspirar novamente.
    </ion-item>  
  
    <ion-item>
      <b>l.</b>. Caso ambas as aspirações sejam negativas:
    </ion-item>
  
  <ion-item> 
    (1) Lentamente, durante 30 a 60 segundos, depositar 0,9 a 1,8 ml de solução de anestésico.
  </ion-item> 
  
  <ion-item> 
    (2) Aspire algumas vezes (em um plano), durante a administração do fármaco.
  </ion-item> 
  
  <ion-item> 
    (3) A anestesia do nervo ASP é geralmente atraumática,
  devido ao grande espaço tecidual disponível para acomodar a solução de anestésico e ao fato de que o osso não é tocado.
  </ion-item> 
  
  <ion-item>
    <b>m.</b> Retirar a seringa lentamente.
  </ion-item>
  
  <ion-item>
    <b>n.</b> Proteger a agulha.
  </ion-item>
  
  <ion-item>
    <b>o.</b> Aguardar no mínimo, de 3 a 5 minutos antes de começar o procedimento odontológico.
  </ion-item>
  
  <b>Bloqueio do Nervo Alveolar Superior Médio</b>
  
    <p>O nervo alveolar superior médio (ASM) está presente apenas em cerca de 28% da população, limitando, portanto, a utilidade clínica deste bloqueio. Todavia, quando o bloqueio do nervo infraorbitário (alveolar superoanterior – ASA) não produz anestesia pulpar distal ao canino superior, o bloqueio do nervo ASM está indicado para procedimentos em pré-molares e para a raiz mesiovestibular do primeiro molar superior. A taxa de sucesso do bloqueio do nervo ASM é alta.</p>
    
    <ion-item>
    <b>Nervos Anestesiados:</b> Alveolar superior médio e ramos terminais.
    </ion-item> 
    
    <ion-item>
    <b>Áreas Anestesiadas:</b>
    </ion-item>
    
    <ion-item> 
      1. Polpas do primeiro e segundo pré-molares superiores, raiz mesiovestibular do primeiro molar superior.
    </ion-item> 
    
    <ion-item> 
      2. Tecidos periodontais vestibulares e osso sobre estes mesmos dentes.
    </ion-item> 
  
  
    <ion-col size="6">
      <ion-img src="  https://cdn.discordapp.com/attachments/562043807454068741/711401861445582888/aseasea.png" >
      </ion-img>
    </ion-col>
  
    <p>Área anestesiada pelo bloqueio do nervo alveolar superior médio (ASM).</p>
  
    <ion-col size="6">
      <ion-img src="  https://cdn.discordapp.com/attachments/562043807454068741/711401861445582888/aseasea.png" >
      </ion-img>
    </ion-col>
  
    <p>Posição da agulha entre os pré-molares superiores para um bloqueio do nervo alveolar superior médio (ASM).</p>
  
    <b>
      Técnica
    </b>
  
    <ion-item>
      <b>1.</b> Uma agulha curta ou longa de calibre 27 e recomendada.Uma agulha curta de calibre 27 e recomendada.
    </ion-item>
    <ion-item>
        <b>2.</b>Área de introdução: altura da prega mucovestibular acima do segundo molar superior.Área de introdução: altura da prega mucovestibular acima do segundo pré-molar superior.
      </ion-item>
     
      <ion-item>
        <b>3.</b> Área-alvo: osso maxilar acima do ápice do segundo pré-molar superior. 
      </ion-item>
     
      <ion-item>
        <b>4.</b> Ponto de referência: prega mucovestibular acima do segundo pré-molar superior.
      </ion-item>
  
      <ion-item>
        <b>5.</b> Orientação do bisel: voltado para o osso.
      </ion-item>
     
      <ion-item>
        <b>6.</b> Procedimento:
      </ion-item> 
      
      <ion-item>
        <b>a.</b> Assumir a posição correta.
      </ion-item>
     
      <ion-item>
        (1) Para um bloqueio do nervo ASM direito, o administrador destro deve ficar de frente para o paciente na posição de 10 horas.
      </ion-item> 
  
      <ion-item>
        (2) Para um bloqueio do nervo ASM esquerdo, o profissional destro deve ficar de frente para o paciente na posição de 8 ou 9 horas.
      </ion-item>
     
      <ion-item>
        <b>b.</b> (2) Para um bloqueio do nervo ASM esquerdo, o profissional destro deve ficar de frente para o paciente na posição de 8 ou 9 horas.
      </ion-item> 
  
      <ion-item>
        (1) Secar com gaze estéril.
      </ion-item> 
  
      <ion-item>
       (2) Aplicar antisséptico tópico (opcional)
      </ion-item>
  
      <ion-item>
        (3) Aplicar anestésico tópico por, no mínimo, 1 minuto.
       </ion-item>
  
      <ion-item>
       <b>c.</b> Distender o lábio superior do paciente para tensionar os tecidos e obter visibilidade.
      </ion-item> 
  
      <ion-item>
      <b>d.</b> Introduzir a agulha na altura da prega mucovestibular acima do segundo pré-molar, com o bisel voltado para o osso.
      </ion-item> 
  
      <ion-item>
        <b>e.</b> Penetrar a mucosa e avançar a agulha lentamente até que sua extremidade esteja localizada acima do ápice do segundo pré-molar. 
       </ion-item>
       
       <ion-item>
        <b>f.</b> Aspirar
       </ion-item>
  
       <ion-item>
        <b>g.</b> Penetrar a mucosa e avançar a agulha lentamente até que sua extremidade esteja localizada acima do ápice do segundo pré-molar. 
       </ion-item>
  
       <ion-item>
        <b>h.</b> Retirar a seringa e proteger a agulha.
       </ion-item>
  
       <ion-item>
        <b>i.</b> Aguardar 3 a 5 minutos antes de iniciar o tratamento odontológico.
       </ion-item>
  
       <b>Bloqueio do Nervo Alveolar Superoanterior (Bloqueio do Nervo Infraorbitário) </b>
  
       <p>O bloqueio do nervo ASA não tem a popularidade do bloqueio do nervo ASP, basicamente porque os profissionais não tem experiencia com essa técnica, a qual apresenta elevada frequência de sucesso e é extremamente segura. Ela produz anestesia profunda da polpa e tecidos moles vestibulares, desde o incisivo central superior até os pré-molares, em cerca de 72 dos pacientes.</p>
  
       <b>Nervos Anestesiados</b>
  
       <ion-item>
        <b>1.</b> Alveolar superoanterior
       </ion-item>
       
       <ion-item>
        <b>2.</b> Alveolar superior médio
       </ion-item>
  
       <ion-item>
        <b>3.</b> Nervo infraorbitário
       </ion-item>
  
       <ion-item>
        <b>a.</b> Palpebral inferior
       </ion-item>
  
       <ion-item>
        <b>b.</b> Nasal lateral
       </ion-item>
  
       <ion-item>
        <b>c.</b> Labial superior
       </ion-item>
  
        <b>Áreas Anestesiadas</b>
  
       <ion-item>
        <b>1.</b> Polpas do incisivo central superior até o canino superior do lado da injeção.
       </ion-item>
  
       <ion-item>
        <b>2.</b> Em cerca de 72% dos pacientes, as polpas dos pré-molares superiores e a raiz mesiovestibular do primeiro molar.
       </ion-item>
  
       <ion-item>
        <b>3.</b> Periodonto vestibular (labial) e osso destes mesmos dentes.
       </ion-item>
  
       <ion-item>
        <b>4.</b> Pálpebra inferior, aspecto lateral do nariz, lábio superior.
       </ion-item>
  
       <ion-col size="6">
        <ion-img src=" https://cdn.discordapp.com/attachments/562043807454068741/711403644855255111/aseasea.png" >
        </ion-img>
      </ion-col>
  
       <p>Bloqueio do nervo alveolar superoanterior (ASA), mostrando área anestesiada em 72% dos pacientes.</p>
  
      <ion-item>
        <b>Técnica</b>
      </ion-item> 
  
      <ion-item>
      1. Uma agulha longa de calibre 25 ou 27 e recomendada, embora também se possa usar uma agulha curta de calibre 27, especialmente em crianças e em adultos menores.
      </ion-item> 
  
      <ion-item>
        2. Área de inserção: altura da prega mucovestibular diretamente sobre o primeiro pré-molar superior.
      </ion-item>  
      <p>Nota: A agulha pode ser introduzida na altura da prega mucovestibular, acima de qualquer dente, desde o segundo pré-molar anteriormente até o incisivo central. O trajeto de penetração resultante é em direção à área-alvo, o forame infraorbitário. O primeiro pré-molar geralmente proporciona o menor trajeto até esta área-alvo.</p>
  
      <ion-item>
        3. Área-alvo: forame infraorbitário (abaixo da incisura infraorbitária).
      </ion-item>
  
      <ion-item>
        4. Pontos de referência:
      </ion-item>
  
     <ion-item>
        a.Prega mucovestibular
      </ion-item>  
     
      <ion-item>
        b. Incisura infraorbitária
      </ion-item>
  
      <ion-item>
        c. Forame infraorbitário
      </ion-item>
  
      <ion-item>
        5. Orientação do bisel: voltado para o osso
      </ion-item>
  
      <ion-item>
        Procedimento:
      </ion-item>
  
      <ion-item>
        a. Assumir a posição correta. Para bloqueio do nervo infraorbitário direito ou esquerdo, o administrador destro deve sentar-se na posição de 10 horas, de frente para o paciente ou voltado para o mesmo lado que o paciente.
      </ion-item>
  
      <ion-item>
        b. Posicionar o paciente em posição supina (posição	 preferida) ou semissupina, com o pescoço ligeiramente estendido. Se o pescoço do paciente não estiver estendido, seu tórax pode interferir no cilindro da seringa.
      </ion-item>
  
      <ion-item>
        c. Preparar os tecidos no local de injeção (altura da prega mucovestibular) para a penetração.
      </ion-item>
  
      <ion-item>
        (1) Secar com gaze estéril.
      </ion-item>
  
      <ion-item>
        (2) Aplicar um antisséptico tópico (opcional).
      </ion-item>
  
      <ion-item>
        (3) Aplicar um anestésico tópico por no mínimo 1 minuto.
      </ion-item>
  
      <ion-item>
        d. Localizar o forame infraorbitário
      </ion-item>
  
      <ion-item>
        (1) Palpar a incisura infraorbitária.
      </ion-item>
  
      <ion-item>
        (2) Mover o dedo para baixo da incisura, aplicando pressão suave sobre os tecidos.    </ion-item>
  
      <ion-item>
        (3) O osso imediatamente abaixo da incisura é convexo (como uma protuberância), representando a borda inferior da órbita e o teto do forame infraorbitário.
      </ion-item>
  
      <ion-item>(4) Continuando inferiormente, uma concavidade será palpada; este é o forame infraorbitário.</ion-item>
      <ion-item>(5) Ainda aplicando pressão, sentir os contornos do forame infraorbitário neste local. O paciente sentirá um leve desconforto quando o forame for
        palpado, já que o nervo infraorbitário é pressionado contra o osso.
        </ion-item>
      <ion-item>e. Manter o dedo sobre o forame ou marcar a pele neste ponto.</ion-item>
      <ion-item>f. Afastar o lábio do paciente, tensionando os tecidos na prega mucovestibular e aumentando a visibilidade. Uma gaze estéril de 5 × 5 cm colocada sob o dedo enluvado auxilia na retração do lábio durante a injeção do nervo ASA.</ion-item>
      <ion-item>g. Introduzir a agulha na altura da prega mucovestibular sobre o primeiro pré-molar, com o bisel voltado para o osso.</ion-item>
      <ion-item>h. Orientar a seringa em direção ao forame infraorbitário.</ion-item>
      <ion-item>i. A agulha deve ser mantida paralela ao eixo longitudinal do dente enquanto e avançada, para evitar contato prematuro com o osso.</ion-item>
      <ion-item>j. Avançar a agulha lentamente até que toque suavemente o osso.</ion-item>
      <ion-item>(1) O ponto de contato deve ser a borda superior do forame infraorbitário.</ion-item>
      <ion-item>(2) A profundidade aproximada da penetração da agulha será de 16 mm para um adulto de altura media (equivalente a aproximadamente metade do comprimento de uma agulha longa).</ion-item>
      <ion-item>(3) A profundidade de penetração varia, evidentemente. Em um paciente com uma prega mucovestibular alta (profunda) ou um forame infraorbitário baixo, uma menor penetração tecidual e necessária do que em um paciente com uma prega mucovestibular rasa ou um forame infraorbitário alto.</ion-item>
      <ion-item>(4) Uma determinação aproximada da profundidade de penetração antes da injeção pode ser feita colocando-se um dedo sobre o forame infraorbitário e outro sobre o local da injeção na prega mucovestibular, calculando-se a distância entre eles.</ion-item>
      <ion-item>k. Antes de injetar a solução anestésica, verificar o seguinte:</ion-item>
      <ion-item>(1) Profundidade da penetração da agulha (adequada para atingir o forame).</ion-item>
      <ion-item>(2) Qualquer desvio lateral da agulha em relação ao forame infraorbitário; corrigir antes de injetar a solução.</ion-item>
      <ion-item>(3) Orientação do bisel (voltado para o osso).</ion-item>
      <ion-item>l. Posicionar a ponta da agulha durante a injeção com o bisel voltado para o forame infraorbitário e a ponta da agulha tocando o teto do forame.</ion-item>
      <ion-item>m. Aspirar em dois planos.</ion-item>
      <ion-item>n. Depositar lentamente de 0,9 a 1,2 ml (por 30 a 40 segundos). Pouca ou nenhuma tumefação deve ser observada enquanto a solução e depositada. Se a extremidade da agulha for introduzida adequadamente
        na abertura do forame, a solução será direcionada para o forame. </ion-item>
      <ion-item>(1) O profissional será capaz de “sentir” a solução anestésica sendo depositada sob seu dedo colocado sobre o forame se a extremidade da agulha estiver na posição correta. Ao terminar a injeção, o forame não deve ser mais palpável (devido ao volume de anestésico local nesta posição).</ion-item>
  
          <b>Bloqueio do Nervo Palatino Maior</b>
          <p></p>
          O bloqueio do nervo palatino maior e muito útil durante procedimentos odontológicos envolvendo os tecidos moles palatinos distais ao canino. Volumes mínimos de solução (0,45 a 0,6 ml) produzem anestesia profunda dos tecidos moles e duros do palato. Embora potencialmente traumático, o bloqueio do nervo palatino maior e menos traumático que o bloqueio do nervo nasopalatino, pois os tecidos que circundam o forame palatino maior não estão tão firmemente aderidos ao osso e por isso acomodam melhor o volume de solução depositado. <b>Nervos Anestesiados.</b> Palatino maior.
        <b> Áreas Anestesiadas.</b> A parte posterior do palato duro e os tecidos moles sobrejacentes, anteriormente até o primeiro pré-molar e medialmente até a linha media.
  
        <ion-col size="6">
          <ion-img src=" https://cdn.discordapp.com/attachments/562043807454068741/711403830251749386/aseasea.png" >
          </ion-img>
        </ion-col>
  
        <p>Área anestesiada pelo bloqueio do nervo palatino maior.</p>
  
        <ion-col size="6">
          <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711403980067962952/aseasea.png" >
          </ion-img>
        </ion-col>
  
        <p>Área-alvo para um bloqueio do nervo palatino maior. </p>
          
        <b>Técnica</b>
  
      <ion-item>1. Uma agulha curta calibre 27 é recomendada.</ion-item>
      <ion-item>2. Área de introdução: tecidos moles levemente anteriores ao forame palatino maior.</ion-item>
      <ion-item>3. Área-alvo: nervo palatino maior (anterior), quando passa anteriormente entre os tecidos moles e o osso do palato duro. </ion-item>
      <ion-item>4. Pontos de referência: forame palatino maior e junção do processo alveolar maxilar e osso palatino.</ion-item>
      <ion-item>5. Trajeto da introdução: avançar a seringa a partir do lado oposto da boca formando um ângulo reto com a área-alvo.</ion-item>
      <ion-item>6. Orientação do bisel: voltado para os tecidos moles palatinos.</ion-item>
      <ion-item>7. Procedimento:</ion-item>
      <ion-item>a. Assumir a posição correta:</ion-item>
      <ion-item>(1) Para bloqueio do nervo palatino maior direito, o administrador destro deve sentar-se de frente para o paciente na posição de 7 ou 8 horas.</ion-item>
      <ion-item>(2) Para um bloqueio do nervo palatino maior esquerdo, o administrador destro deve sentar-se de frente para o paciente na posição de 11 horas.</ion-item>
      <ion-item>b. Solicitar ao paciente, que está em posição supina para:</ion-item>
      <ion-item>(1) Abrir bem a boca.</ion-item>
      <ion-item>(2) Estender o pescoço.</ion-item>
      <ion-item>(3) Girar a cabeça para a esquerda ou para a direita (para melhorar a visibilidade).</ion-item>
      <ion-item>c. Localizar o forame palatino maior: </ion-item>
      <ion-item> (1) Colocar uma haste de algodão na junção do processo alveolar maxilar com o palato duro.</ion-item>
      <ion-item>(2) Começar na região do primeiro molar superior e palpar posteriormente pressionando firmemente os tecidos com a haste de algodão.</ion-item>
      <ion-item>(3) A haste de algodão “cairá” na depressão formada pelo forame palatino maior. </ion-item>
      <ion-item> (4) O forame se localiza mais frequentemente num ponto distal ao segundo molar superior, mas pode se localizar anterior ou posteriormente à sua posição habitual. </ion-item>
      <ion-item>d. Preparar o tecido no local de injeção, apenas 1 a 2 mm anterior ao forame palatino maior.</ion-item>
      <ion-item>(1) Limpar e secar com gaze estéril.</ion-item>
      <ion-item>(2) Aplicar antisséptico tópico (opcional).</ion-item>
      <ion-item>(3) Aplicar anestésico tópico por 2 minutos.</ion-item>
      <ion-item>e. Após 2 minutos de aplicação do anestésico tópico, mova a haste de algodão posteriormente, de forma que fique diretamente sobre o forame palatino maior.</ion-item>
      <ion-item>(1) Aplicar pressão considerável na área do forame com o cotonete na mão esquerda (caso seja destro).</ion-item>
      <ion-item>(2) Observar a isquemia (palidez dos tecidos moles) no local da injeção.</ion-item>
      <ion-item>(3) Aplicar pressão por, no mínimo, 30 segundos, e, enquanto isso, fazer o seguinte:</ion-item>
      <ion-item>f. Direcionar a seringa para a boca a partir do lado oposto, com a agulha aproximando-se do local de injeção em ângulo reto. </ion-item>
      <ion-item>g. Colocar o bisel (não a ponta) da agulha delicadamente contra os tecidos moles previamente pálidos (isquêmicos) no local de injeção. Este deve estar bem estabilizado para evitar penetração acidental dos tecidos.</ion-item>
      <ion-item>h. Com o bisel situado contra o tecido:</ion-item>
      <ion-item>(1) Aplicar pressão suficiente para curvar lentamente a agulha.</ion-item>
      <ion-item>(2) Depositar um pequeno volume do anestésico. A solução será forçada contra a membrana mucosa e se formará uma gotícula. </ion-item>
      <ion-item>i. Retificar a agulha e permitir que o bisel perfure a mucosa.</ion-item>
      <ion-item> (1) Continuar a injetar pequenos volumes de anestésico durante todo o procedimento.</ion-item>
      <ion-item> (2) A isquemia se propagará para os tecidos adjacentes enquanto o anestésico (usualmente associado a um vasoconstritor) é depositado. </ion-item>
      <ion-item>j. Continuar a aplicar anestesia compressiva durante toda a deposição de solução anestésica. A isquemia se propagará à medida que o vasoconstritor diminuir a perfusão tecidual.</ion-item>
      <ion-item>k. Avançar lentamente a agulha até que toque suavemente o osso palatino.</ion-item>
      <ion-item> (1) A profundidade de penetração é em geral de aproximadamente de 5 mm.</ion-item>
      
      <b>Bloqueio do Nervo Nasopalatino</b>
  
        <p>O bloqueio do nervo nasopalatino e uma técnica muito valiosa para o controle da dor palatina, pois, com a administração de um volume mínimo de solução anestésica (no máximo um quarto do tubete), uma ampla área dos tecidos moles palatinos e atingida, minimizando assim a necessidade de múltiplas injeções do palato. Infelizmente, o bloqueio do nervo nasopalatino tem a característica de ser uma injeção que pode ser muito traumática.
        <b>Nervos Anestesiados. </b>Nervos nasopalatinos bilateralmente.
      <b>Áreas Anestesiadas.</b> Porcão anterior do palato duro (tecidos moles e duros) bilateralmente desde a face mesial do primeiro pré-molar direito a face mesial do primeiro pré-molar esquerdo</p>
  
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711404162931490856/aseasea.png" >
        </ion-img>
      </ion-col>
  
      <p>Área anestesiada no bloqueio do nervo nasopalatino.</p>
  
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711404329050832947/aseasea.png" >
        </ion-img>
      </ion-col>
  
      <p>Área-alvo para um bloqueio no nervo nasopalatino. </p>
  
      <b>Técnica </b>
  
      <ion-item>1. Uma agulha curta de calibre 27 é recomendada.</ion-item>
      <ion-item>2. Área de introdução: mucosa palatina imediatamente lateral à papila incisiva (localizada na linha média atrás dos incisivos centrais); o tecido aqui é mais sensível que o restante da mucosa palatina.</ion-item>
      <ion-item>3. Área-alvo: forame incisivo, sob a papila incisiva.</ion-item>
      <ion-item>4. Pontos de referência: incisivos centrais e papila incisiva.</ion-item>
      <ion-item>5. Trajeto de introdução: aproximar o local de injeção em um ângulo de 45 graus em direção à papila incisiva.</ion-item>
      <ion-item>6. Orientação do bisel: voltado para os tecidos moles do palato (rever o procedimento para a injeção palatina básica).</ion-item>
      <ion-item>7. Procedimento:</ion-item>
      <ion-item>a. Sentar-se na posição de 9 ou 10 horas voltado para a mesma direção do paciente. </ion-item>
      <ion-item>b. Solicitar ao paciente para fazer o seguinte:</ion-item>
      <ion-item>(1) Abrir bem a boca.</ion-item>
      <ion-item>(2) Estender o pescoço</ion-item>
      <ion-item>(3) Girar a cabeça para a esquerda ou para a direita para melhorar a visibilidade.</ion-item>
      <ion-item>c. Preparar o tecido imediatamente lateral à papila incisiva:</ion-item>
      <ion-item>(1) Limpar e secar com gaze estéril.</ion-item>
      <ion-item>(2) Aplicar antisséptico tópico (opcional).</ion-item>
      <ion-item> (3) Aplicar anestésico tópico por 2 minutos.</ion-item>
      <ion-item>d. Após 2 minutos de aplicação do anestésico tópico, mover a haste de algodão diretamente sobre a papila incisiva:</ion-item>
      <ion-item>(1) Comprimir a área da papila com a haste de algodão em sua mão esquerda (caso seja destro).</ion-item>
      <ion-item>(2) Observar a isquemia no local da injeção.</ion-item>
      <ion-item>e. Colocar o bisel contra os tecidos moles isquêmicos no local da injeção. A agulha deve estar bem estabilizada para se evitar a penetração acidental dos tecidos.</ion-item>
      <ion-item>f. Com o bisel situado sobre o tecido:</ion-item>
      <ion-item>(1) Aplicar pressão suficiente para curvar ligeiramente a agulha.</ion-item>
      <ion-item>(2) Depositar um pequeno volume do anestésico. A solução será forçada contra a membrana mucosa.</ion-item>
      <ion-item>g. Retificar a agulha e permitir que o bisel perfure a mucosa.</ion-item>
      <ion-item>(1) Continuar a injetar pequenos volumes de anestésico durante todo o procedimento.</ion-item>
      <ion-item>(2) Observar a isquemia propagando-se para os tecidos adjacentes enquanto a solução é depositada.</ion-item>
      <ion-item>h. Continuar a aplicar pressão com a haste de algodão enquanto injeta o anestésico.</ion-item>
      <ion-item>i. Avançar a agulha lentamente em direção ao forame incisivo até que toque suavemente o osso 5 mm.</ion-item>
      <ion-item>(2) Injetar pequenos volumes de anestésico enquanto avança a agulha. À medida que o tecido é perfurado, haverá aumento da resistência à injeção da solução, o que é normal no bloqueio do nervo nasopalatino.</ion-item>
      <ion-item>j. Retirar a agulha 1 mm (para evitar a injeção subperiosteal). O bisel agora se situa sobre o centro do forame incisivo.j. Retirar a agulha 1 mm (para evitar a injeção subperiosteal). O bisel agora se situa sobre o centro do forame incisivo.</ion-item>
      <ion-item>k. Aspirar.</ion-item>
      <ion-item>l. Caso a aspiração seja negativa, injetar lentamente (no mínimo durante 15 a 30 segundos) não mais que um quarto a um terço de um tubete (0,45 ml).</ion-item>
      <ion-item> (1) Em alguns pacientes é difícil injetar 0,45 ml de solução anestésica nesta injeção. A injeção do anestésico pode cessar quando a área de isquemia observada no local da injeção aumentar em relação à produzida apenas pela compressão.</ion-item>
      <ion-item>m. Retirar a seringa lentamente.</ion-item>
      <ion-item>n. Proteger a agulha.</ion-item>
      <ion-item>o. Aguardar 2 a 3 minutos antes de iniciar o procedimento odontológico.</ion-item>
  
      <b>Sinais e Sintomas:</b>
  
      <ion-item>1. Subjetivos: dormência na parte anterior do palato.</ion-item>
      <ion-item>2. Objetivos: ausência de dor durante o tratamento odontológico.</ion-item>
      <b>Aspectos de Segurança:</b>
      <ion-item>1. Contato com o osso.</ion-item>
      <ion-item>2. Aspiração.</ion-item>
      <b>Precauções:</b>
      <ion-item>1. Contra a dor:</ion-item>
      <ion-item>a. Não introduzir a agulha diretamente na papila incisiva (é extremamente doloroso).</ion-item>
      <ion-item>b. Não injetar a solução muito rapidamente.</ion-item>
      <ion-item>c. Não injetar muita solução.</ion-item>
      <ion-item>2. Contra infecção:</ion-item>
      <ion-item>a. Se a agulha avançar mais de 5 mm no canal incisivo e ocorrer a penetração acidental do assoalho do nariz, pode haver infecção. Não há razão para a agulha entrar no canal incisivo durante o bloqueio do nervo
        nasopalatino.
        </ion-item>
        <b>Falhas da Anestesia:</b>
      <ion-item>1. Injeção muito bem-sucedida (taxa de sucesso > 95%).</ion-item>
      <ion-item>2. Anestesia unilateral:</ion-item>
      <ion-item>a. Se a injeção for depositada de um lado do canal incisivo, pode produzir anestesia unilateral.</ion-item>
      <ion-item>b. Para corrigir: reintroduzir a agulha no tecido já anestesiado e injetar novamente a solução na área não anestesiada.</ion-item>
      <ion-item>3. Anestesia inadequada dos tecidos moles palatinos na área do canino e do primeiro pré-molar superior:</ion-item>
      <ion-item>a. Se houver superposição entre as fibras do nervo palatino maior e do nervo nasopalatino, a anestesia dos tecidos moles palatinos do canino e do primeiro pré-molar poderá ser inadequada.</ion-item>
      <ion-item>b. Para corrigir: a infiltração local pode ser necessária como um suplemento na área inadequadamente anestesiada. </ion-item>
      
      <b>Infiltração Local do Palato</b>
  
      <ion-item>•	Os nervos anestesiados são as terminações dos nervos nasopalatino e do palato maior. As áreas anestesiadas são os tecidos moles na vizinha imediata da injeção.</ion-item>
      <ion-item>•	Essa técnica é indicada quando se quer obter a homeostasia durante o procedimento cirúrgico e para controlar a dor do palatogengival quando são necessários uma área limitada para aplicação de grampo de isolamento absoluto ou em procedimentos cirúrgicos que deseja anestesiar no máximo dois dentes.</ion-item>
      <ion-item>•	São contraindicados em áreas que ocorre inflamação ou infecção na área da injeção e controle de dor em tecidos moles que abarca mais de dois dentes.</ion-item>
      <ion-item>•	Essa técnica produz um nível aceitável de homeostasia quando é utilizada com um vasoconstritor e além disso possui uma menor área de dormência, diminuindo o desconforto do paciente.</ion-item>
      <ion-item>•	A sua desvantagem é ser uma injeção potencialmente traumática.</ion-item>
      <ion-item>•	A aspiração positiva nesta, é desprezível e as alternativas para a homeostasia não há nenhuma, enquanto para o controle da dor tem o bloqueio do nervo nasopalatino ou palatino maior, ASMA e bloqueio do nervo maxilar.</ion-item>
      <ion-item>•	Técnica para uma boa aplicação: </ion-item>
      <ion-item>•	Fazer o uso de uma agulha calibre 27.</ion-item>
      <ion-item>•	Fazer a introdução na gengiva inserida, de 5 a 10 mm da margem livre da gengiva, sendo que a área alvo é a mesma.</ion-item>
      <ion-item>•	O ponto de referência é o tecido gengival no centro selecionado da área do tratamento.</ion-item>
      <ion-item>•	Para a introdução, aproximar-se do local da injeção em um ângulo de 45 graus.</ion-item>
      <ion-item>•	A direção do bisel tem que estar voltado para os tecidos moles palatinos.</ion-item>
      <ion-item>•	Procedimentos:</ion-item>
      <ion-item>1.	Se o administrador for destro, sentar na posição de 10 horas. Ficar voltado na mesma direção que o paciente para a infiltração palatina do lado esquerdo.</ion-item>
      <ion-item>2.	Solicitar ao paciente para: Abrir bem a boca, estender o pescoço, girar a cabeça para a esquerda ou para a direita para melhorar a visibilidade.</ion-item>
      <ion-item>3.	Preparo do tecido no local da injeção: </ion-item>
      <ion-item>a.	Limpar e secar com gaze estéril;</ion-item>
      <ion-item>b.	Aplicar antisséptico tópico (opcional); </ion-item>
      <ion-item>c.	Aplicar anestésico tópico por 2 min;</ion-item>
      <ion-item>d.	Após 2 minutos de aplicação do anestésico tópico, colocar a haste de algodão no tecido imediatamente adjacente ao local da injeção;</ion-item>
      <ion-item>5.	Com a haste de algodão em sua mão esquerda (caso seja destro) aplicar pressão nos tecidos moles palatinos;</ion-item>
      <ion-item>6.	Observar a isquemia no local da injeção;</ion-item>
      <ion-item>7.	Posicionar o bisel da agulha contra os tecidos moles isquêmicos no local da injeção. A agulha deve estar bem estabilizada para se evitar a penetração acidental dos tecidos;</ion-item>
      <ion-item>8.	Com o bisel posicionado contra o tecido: Aplicar pressão suficiente para curvar ligeiramente a agulha, depositar um pequeno volume de anestésico. A solução será forçada contra a membrana mucosa formando uma gotícula</ion-item>
      <ion-item>Retificara a agulha e permitir que o bisel perfure a mucosa.</ion-item>
      <ion-item>Continuar a aplicar pressão com a haste de algodão durante toda a injeção.</ion-item>
      <ion-item>Continuar a aplicar pressão com a haste de algodão durante toda a injeção.</ion-item>
      <ion-item>•	Se a hemostasia for o objetivo desta técnica, continuar a administrar a solução até que a isquemia abranja o local da cirurgia. Na prática habitual, 0,2 a 0,3 ml de solução será adequado.</ion-item>
      <ion-item>•	Para a homeostasia local cirúrgicos mais extensos:</ion-item>
      <ion-item>1.	Remover a agulha do local da primeira injeção.</ion-item>
      <ion-item>2.	Colocá-la no local da nova injeção, na periferia do tecido previamente anestesiado. </ion-item>
      <ion-item>3.	Penetrar nos tecidos e depositar o anestésico.</ion-item>
      <ion-item>4.	Continuar o procedimento de superposição até que haja hemostasia em toda a área cirúrgica.</ion-item>
      <ion-item>•	Retirar a seringa.</ion-item>
      <ion-item>•	Proteger a agulha.</ion-item>
      <ion-item>•	Iniciar o procedimento odontológico imediatamente.</ion-item>
      <ion-item>•	Os sinais e sintomas dessas técnicas é dormência e isquemia dos tecidos moles do palato. O objetivo é inibir a dor durante o procedimento cirúrgico odontológico.</ion-item>
      <ion-item>•	O procedimento é altamente traumático quando realizado de forma incorreta.</ion-item>
      <ion-item>•	A taxa de sucesso na homeostasia será maior quando inclui um vasoconstritor, porém se a área estiver inflamada, ainda irá ocorrer hemorragia mesmo com o uso do vasoconstritor.</ion-item>
      <ion-item>•	A necrose em tecidos moles pode ser observada quando uma solução vasoconstritora muito concentrada é utilizada para hemostasia por um período prolongado (p. ex., noradrenalina, injeções repetidas de adrenalina numa concentração de 1:50.000).</ion-item>
      
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711404865225621595/aseasea.png" >
        </ion-img>
      </ion-col>
  
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711404999497875506/aseasea.png" >
        </ion-img>
      </ion-col>
      
  <b>Abordagem Palatina-Alveolar Superoanterior</b>
  
      <ion-item>•	A distribuição da anestesia também difere entre estas injeções. O bloqueio do nervo nasopalatino promove anestesia à gengiva palatina anterior e ao mucoperiósteo e é recomendada para procedimentos cirúrgicos na região anterior do palato. Ela pode também servir como uma técnica suplementar para a obtenção da anestesia pulpar ao dente incisivo.</ion-item>
      <ion-item>•	A injeção P-ASA (nervo alveolar superoanterior por abordagem Palatina), em contraste, é recomendada como método primário para a obtenção da anestesia pulpar bilateral dos seis dentes anterossuperiores (incisivos e caninos). </ion-item>
      <ion-item>•	A injeção P-ASA também proporciona anestesia profunda dos tecidos moles da gengiva e do mucoperiósteo na região do terço anterior do palato inervada pelo nervo nasopalatino. Além disso, anestesia do tecido mole da gengiva inserida vestibular dos seis dentes anteriores é observada. Portanto, a injeção P-ASA constitui uma alternativa atraente para o controle da dor antes da raspagem e alisamento radicular, procedimentos restauradores estéticos e procedimentos cirúrgicos menores envolvendo a região da pré-maxila.</ion-item>
  
  <b>Áreas Anestesiadas:</b>
  
      <ion-item>1. Polpa dos incisivos centrais, laterais e caninos (em menor grau).</ion-item>
      <ion-item>2. Tecidos periodontais vestibulares associados a estes mesmos dentes.</ion-item>
      <ion-item>3. Tecidos periodontais palatinos associados a estes mesmos dentes.</ion-item>
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711405155702145094/aseasea.png" >
        </ion-img>
      </ion-col>
  
      <b>Indicações:</b>
      
      <ion-item>1. Procedimentos odontológicos envolvendo os dentes e os tecidos moles anterossuperiores.</ion-item>
      <ion-item>2. Quando se deseja uma anestesia bilateral dos dentes anterossuperiores a partir de um único local de injeção.</ion-item>
      <ion-item>3. Quando da realização da raspagem e alisamento radicular dos dentes anteriores.</ion-item>
      <ion-item>4. Quando da execução de procedimentos cosméticos anteriores, sendo necessária a avaliação da linha do sorriso para um tratamento bem-sucedido.</ion-item>
      <ion-item>5. Quando uma abordagem facial da injeção supraperiosteal foi ineficaz devido ao osso cortical denso.</ion-item>
      
      <b>Técnica:</b>
      
      <ion-item>1. Uma agulha curta calibre 27 é recomendada.</ion-item>
      <ion-item>2. Área de introdução: imediatamente lateral à papila incisiva no sulco papilar.</ion-item>
      <ion-item>3. Área-alvo: forame nasopalatino.</ion-item>
      <ion-item>4. Pontos de referência: papila nasopalatina.</ion-item>
      <ion-item>5. Orientação do bisel: o bisel da agulha é colocado contra o epitélio “com a face voltada para baixo”. A agulha é mantida tipicamente em um ângulo de 45 graus em relação ao palato.</ion-item>
      <ion-item>6. Procedimento.</ion-item>
  
  <b>Bloqueio do Nervo Maxilar</b>
  
      <ion-item>•	O bloqueio do nervo maxilar (segunda divisão ou V 2) é um método eficaz para produzir anestesia profunda de uma hemimaxila. Ele é útil em procedimentos odontológicos que envolvem quadrantes e em procedimentos cirúrgicos extensos. Duas abordagens serão apresentadas aqui. Ambas são eficazes e o autor não tem preferência por nenhuma delas. </ion-item>
      <ion-item>•	As principais dificuldades na abordagem do canal palatino maior ocorrem na localização do canal e na sua transposição bem-sucedida. A principal dificuldade na abordagem da tuberosidade alta é a maior incidência de hematoma.</ion-item>
    <p><b>Nervo Anestesiado: </b>Divisão maxilar do nervo trigêmeo.
    <b>Áreas Anestesiadas:</b>
    </p> 
    
      <ion-item>1. Anestesia pulpar dos dentes superiores no lado do bloqueio</ion-item>
      <ion-item>2. Periodonto vestibular e osso sobrejacente a estes dentes</ion-item>
      <ion-item>3. Tecidos moles e osso do palato duro e parte do palato mole, medialmente à linha média</ion-item>
      <ion-item>4. Pele da pálpebra inferior, lateral do nariz, bochecha e lábio superior</ion-item>
  
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711405155702145094/aseasea.png" >
        </ion-img>
      </ion-col>
  
      <p><b>Indicações:</b></p>
      
      <ion-item>1. Controle da dor antes de procedimentos cirúrgicos extensos, periodontais ou restauradores que requeiram anestesia de toda a divisão maxilar</ion-item>
      <ion-item>2. Casos em que uma inflamação ou infecção tecidual impede o uso de outros bloqueios regionais (p. ex., ASP, ASA, ASMA, P-ASA) ou da injeção supraperiosteal.</ion-item>
      <ion-item>3. Procedimentos diagnósticos ou terapêuticos para neuralgias ou tiques da segunda divisão do nervo trigêmeo Técnica (Abordagem da Tuberosidade Alta).</ion-item>
      
      <b>Técnica (Abordagem da Tuberosidade Alta):</b>
      
      <ion-item>1. Uma agulha longa de calibre 25 é recomendada. Uma agulha longa calibre 27 é aceitável.</ion-item>
      <ion-item>2. Área de introdução: altura da prega mucovestibular acima da face distal do segundo molar superior.</ion-item>
      <ion-item>3. Área-alvo:</ion-item>
      <ion-item>a. Nervo maxilar, no ponto onde ele atravessa a fossa pterigopalatina.</ion-item>
      <ion-item>b. Superior e medial à área-alvo do bloqueio do nervo ASP.</ion-item>
      <ion-item>4. Pontos de referência:</ion-item>
      <ion-item>a. Prega mucovestibular na face distal do segundo molar superior.</ion-item>
      <ion-item>b. Tuberosidade da maxila.</ion-item>
      <ion-item>c. Processo zigomático da maxila.</ion-item>
      <ion-item>5. Orientação do bisel: voltado para o osso.</ion-item>
      <ion-item>6. Procedimento.</ion-item>
  
      <p><b>Técnica (Abordagem do Canal Palatino Maior):</b></p>
      
      <ion-item>1. Uma agulha longa de calibre 25 é recomendada. Uma agulha longa de calibre 27 também é aceitável.</ion-item>
      <ion-item>2. Área de introdução: tecidos moles palatinos diretamente sobre o forame palatino maior.</ion-item>
      <ion-item>3. Área-alvo: o nervo maxilar, no ponto que atravessa a fossa pterigopalatina; a agulha atravessa o canal palatino maior para alcançar a fossa pterigopalatina.</ion-item>
      <ion-item>4. Pontos de referência: forame palatino maior, junção do processo alveolar maxilar e o osso palatino.</ion-item>
      <ion-item>5. Orientação do bisel: voltado para os tecidos moles palatinos.</ion-item>
      <ion-item>6. Procedimento.</ion-item>
      <ion-item>Bloqueio do Nervo Alveolar Superior Médio Anterior</ion-item>
      <ion-item>•	O bloqueio do nervo alveolar superior médio anterior (ASMA) representa uma injeção do bloqueio do nervo maxilar recém- descrita. Essa técnica propicia a anestesia pulpar em múltiplos dentes superiores (incisivos, caninos e pré-molares) a partir de um único local de injeção no palato duro, aproximadamente na metade do caminho ao longo de uma linha imaginária conectando a sutura palatina mediana à margem gengival livre.</ion-item>
      <ion-item>•	O bloqueio nervoso ASMA pode ser realizado com pouca ou nenhuma dor depois das técnicas básicas de injeção atraumática do palato descritas anteriormente. O uso de um sistema C-CLAD auxilia claramente na administração atraumática desta injeção.</ion-item>
      
      <b>Nervos Anestesiados:</b>
  
      <ion-item>1. Nervo ASA.</ion-item>
      <ion-item>2. Nervo ASM, quando presente.</ion-item>
      <ion-item>3. Plexo nervoso dentário subneural dos nervos alveolar superoanterior e médio.</ion-item>
          <b>Áreas Anestesiadas:</b>
  
      <ion-item>1. Anestesia pulpar dos incisivos, caninos e pré-molares superiores.</ion-item>
      <ion-item>2. Gengiva inserida vestibular destes mesmos dentes.</ion-item>
      <ion-item>3. Tecidos palatinos inseridos desde a linha média até a margem gengival livre dos dentes associados.</ion-item>
      
      <ion-col size="6">
        <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711405591578411048/aseasea.png" >
        </ion-img>
      </ion-col>
      
      <ion-item>Indicações:</ion-item>
      <ion-item>1. É mais facilmente executada com um sistema C-CLAD.</ion-item>
      <ion-item>2. Quando são realizados procedimentos odontológicos envolvendo os dentes anterossuperiores ou os tecidos moles.</ion-item>
      <ion-item>3. Quando é desejada a anestesia de múltiplos dentes anterossuperiores a partir de uma única injeção.</ion-item>
      <ion-item>4. Quando da realização de raspagem e alisamento radicular dos dentes anteriores.</ion-item>
      <ion-item>5. Quando da execução de procedimentos cosméticos anteriores, sendo necessária a avaliação da linha do sorriso para um tratamento bem-sucedido.</ion-item>
      <ion-item>6. Quando uma abordagem facial da injeção supraperiosteal foi ineficaz devido ao osso cortical denso.</ion-item>
      
      <b>Técnica:</b>
      
      <ion-item>1. Uma agulha curta calibre 27 é recomendada.</ion-item>
      <ion-item>2. Área de introdução: no palato duro, na metade do caminho ao longo de uma linha imaginária conectando a sutura palatina mediana à margem gengival livre; a linha está localizada no ponto de contato entre o primeiro e o segundo pré-molar.</ion-item>
      <ion-item>3. Área-alvo: osso palatino no local da injeção.</ion-item>
      <ion-item>4. Pontos de referência: ponto de interseção na metade do caminho ao longo de uma linha da sutura palatina mediana à margem gengival livre, fazendo interseção com o ponto de contato entre o primeiro e o segundo pré-molar.</ion-item>
      <ion-item>5. Orientação do bisel: o bisel da agulha é colocado “voltado para baixo” em direção ao epitélio. A agulha é mantida tipicamente num ângulo de 45º em relação ao palato.</ion-item>
      <ion-item>6. Procedimento.</ion-item>
      
  
  </ion-item-group>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  