<ion-header>
  <ion-toolbar>
    <ion-title><a href="/folder/folder" >Voltar</a></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>Como agem os anestésicos locais?</h3>
          <br>
          O estímulo doloroso é transmitido pelas fibras nervosas desde sua origem (ex: polpa dental, periósteo etc..) até o cérebro, na forma de potenciais de ação, que são propagados por despolarizações transitórias das células nervosas, devido a entrada de ións  sódio (Na+) através dos canais de sódio, os anestésicos locais, na sua forma não ionizada, atravessam a membrana do axônio, penetram na célula nervosa e se ligam a receptores específicos nos canais de sódio, reduzindo ou impedindo a entrada do íon na célula.  Isto resulta no bloqueio da condução nervosa e, consequentemente, na percepção da dor.
          <br><br>
          <h3>Qualquer pessoa pode tomar anestesia?</h3>
          <br>
          Antes disso, a pessoa deve responder a um breve questionário de saúde, padronizado pela ASA (Sociedade Americana de Anestesiologia), que determina o risco anestésico. Com base em suas respostas, o profissional terá condições de informar se ela está apta a submeter-se a tratamento odontológico com anestesia. Mas, para seu conforto,esse procedimento é muito seguro e que a variedade de medicamentos disponíveis proporciona muita segurança.
          <br><br>
          <h3>Quais são as características dos anestésicos locais?</h3>
          <br>
          Estão disponíveis como sais (geralmente na forma de cloridato), e exibem três porções em sua configuração química:<br>
          1.       Porção hidrofílica, que permite sua injeção nos tecidos;<br>
          2.       Porção lipofílica, responsável pela difusão do anestésico através da bainha nervosa;<br>
          3.       Cadeia intermediária, que une as porções hidrofílica e lipofílica e, de acordo com sua estrutura química, permite classificar os anestésicos locais em ésteres ou amidas.
          <br><br>
          Os <b>Ésteres</b> foram os primeiros anestésicos locais a serem sintetizados, tendo como precursor a cocaína. Também fazem parte deste grupo a procaína, cloroprocaína, tetracaína e benzocaína. Destes, a benzocaína é o único atualmente empregado na odontologia, mas apenas na forma de géis para anestesia tópica.
          As <b>amidas</b> surgiram a partir de 1948 com a síntese da lidocaína. A baixa possibilidade de ocorrer reações alérgicas determinou o sucesso deste grupo de anestésicos. Além da lidocaína fazem parte deste grupo a mepivacaina, prilocaína, articaína, bupivacaína, ropivacaína e etidocaína, com as seguintes características farmacológicas.
          <br><br>
          Essa é a grande questão. É muito comum o cliente relacionar a dor à agulha. Entretanto, a agulha apresenta um diâmetro extremamente fino, e ainda seu desconforto pode ser minimizado pelo uso de anestésico.
          <br><br>
          O que o cliente não sabe é que o desconforto maior é causado pelo líquido anestésico. Ele provoca uma distensão dos tecidos adjacentes e, por apresentar um conteúdo relativamente ácido, causa uma “queimação” no momento da injeção.
          <br><br>
          Além disso, há outras técnicas que o Dentista pode fazer uso, como por exemplo, infiltrar o anestésico lentamente, ir conversando com o cliente para desviar o foco de atenção daquele momento e o anestésico tópico, mencionado acima
          <br><br>
          <h3>Todos os procedimentos odontológicos são realizados sob anestesia local?</h3>
          <br>
          Não. Inúmeros procedimentos odontológicos podem ser realizados sem anestesia. Cabe ao Dentista discutir com o cliente, para que não se utilizem anestésicos locais sem necessidade. Lembre-se que o anestésico também é um fármaco e pode causar efeitos colaterais.
          <br><br>
          <h3>Existe contra-indicação em anestesia odontológica?</h3>
          <br>
          Sim, e elas podem estar relacionadas ao agente anestésico ou ao vasoconstritor. Com relação ao vasoconstritor, os pacientes com pressão alta não tratada ou não controlada, doenças cardíacas graves, diabetes mellitus não controlada, hipertireoidismo, feocromocitoma, sensibilidade aos sulfitos e usuários de antidepressivos tricíclicos, compostos fenotiazínicos, cocaína e “crack”, têm limitações no uso de anestésicos.
          <h3>O que é sedação consciente?</h3>
          <br>
          É um procedimento realizado pelo cirurgião-dentista, a fim de proporcionar maior conforto ao paciente, em casos de pacientes ansiosos ou com medo de ir ao dentista. Esse procedimento é realizado combinando-se a ação terapêutica pré-anestésica (através de medicamentos relaxantes) com a do cirurgião-dentista (por meio de anestésicos locais), proporcionando conforto e eficiência anestésica em grandes procedimentos ambulatoriais.
          <br><br>
          <h3>Por que, às vezes, a anestesia demora mais para passar?</h3>
          <br>
          Provavelmente devido ao tipo de tratamento realizado. O profissional irá escolher o tipo de técnica, a quantidade e o medicamento. Nesse caso, quando o procedimento é simples, geralmente a anestesia passa rapidamente, ao contrário do que acontece em procedimentos longos, nos quais o profissional necessita de maior quantidade de anestésico.
          <br><br>
          <h3>Como calcular o volume máximo de uma solução anestésica?</h3>
          <br>
          Deve ser calculado em função de 3 parâmetros: concentração do anestésico na solução, doses máximas recomendadas e, peso corporal do paciente.<br>
          Quanto a concentração, uma solução a 2%, independentemente de qual seja o anestésico, contém 2g do sal em 100 mL de solução, ou 20mg/mL. Da mesma forma, soluções a 0,5%, 3% ou 4% deverão conter, respectivamente, 5mg, 30mg ou 40mg/mL da base anestésica por mL da solução.
          <br>
          Exemplificando:
          <br><br>
          <b>Solução de lidocaína a 2%</b><br>
          Contém 2g do sal em 100 mL de solução = 20 mg/mL<br>
          20 mg x 1,8 mL (volume contido em 1 tubete) = <b>36 mg</b>
          Isto significa dizer que cada tubete anestésico contém 36 mg de lidocaína, quando empregada na concentração de 2%.
          <br><br>
          <b>Dose máxima de lidocaína = 4,4 mg/kg de peso corporal</b>
          <br><br>
          Dose máxima para um adulto com 60kg<br>
          60 x 4,4 = <b>264 mg</b><br>
          <b>264 mg ÷ 36 mg = 7,3 tubetes</b><br>
          Portanto, o volume máximo de suma solução de lidocaína a 2%, para um adulto com 60 kg, é equivalente ao contido em aproximadamente 7 tubetes.
          <br><br>
          <b>Anestésicos locais nas concentrações, com suas doses máximas para adultos saudáveis (adaptado de Malamed)</b>
          <br>
          <br>
          </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>Anestésico Local</b></ion-col>
          <ion-col><b>Dose máxima</b></ion-col>
          <ion-col><b>N° tubetes</b></ion-col>
          <ion-col><b>Máximo absoluto</b></ion-col>
        </ion-row>
        <div class="ion-text-center" *ngFor="let item of lista">
          <ion-row>
            <ion-col>{{ item.anestesia }}</ion-col><br>
            <ion-col>{{ item.dosemax }}</ion-col>
            <ion-col>{{ item.tubetes }}</ion-col>
            <ion-col>{{ item.maxabsoluto }}</ion-col>
          </ion-row>
        </div>
      </ion-grid>
</ion-content>
