<ion-header>
  <ion-toolbar>
    <ion-title><a href="/folder/folder" >Voltar</a></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>TÉCNICAS DA MANDÍBULA </h3>
          <br><br>
<b>BLOQUEIO DO NERVO ALVEOLAR INFERIOR<br><br></b>
O bloqueio do nervo alveolar inferior (BNAI), é a segunda técnica de injeção mais frequentemente usada (depois da infiltração) e provavelmente a mais importante na odontologia. Infelizmente, ela também se mostra a mais frustrante, com a porcentagem mais elevada de insucessos clínicos, mesmo quando administrada de maneira correta.
Nervos Anestesiados<br><br>
1. Alveolar inferior, um ramo da divisão posterior da divisão mandibular do nervo trigêmeo (V3)
<br><br>
2. Incisivo
<br><br>
3. Mentual
<br><br>
4. Lingual (comumente)
<br><br>
<b>Áreas Anestesiadas</b>
<br><br>
1. Dentes mandibulares até a linha média
<br><br>
2. Corpo da mandíbula, parte inferior do ramo da mandíbula
<br><br>
3. Mucoperiósteo bucal, membrana mucosa anteriormente ao forame mentual (nervo mentual)
<br><br>
4. Dois terços anteriores da língua e assoalho da cavidade oral (nervo lingual)
<br><br>
5. Periósteo e tecidos moles linguais (nervo lingual)
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <br>



  <ion-col size="6">
  <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711002221768081468/aseasea.png" >
  </ion-img>
</ion-col>



<ion-grid>
  <ion-row>
    <ion-col>
<div class="ion-text-justify">
 <h3><b>Técnica</b></h3>
  1. Uma agulha dentária longa é recomendada em pacientes adultos. Dá-se preferência a uma agulha longa de calibre 25; uma agulha longa de calibre 27 é aceitável.<br><br>
  2. Área de inserção: membrana mucosa do lado medial (lingual) do ramo da mandíbula, na interseção de duas linhas — uma horizontal, representando a altura de inserção da agulha, e a outra vertical, representando o plano anteroposterior de injeção<br><br>
  3. Área-alvo: nervo alveolar inferior ao descer em direção ao forame mandibular, porém antes de ele entrar no forame<br><br>
  4. Marcos <br><br>
  a. Incisura coronoide (concavidade maior na borda anterior do ramo da mandíbula)<br><br>
  b. Rafe pterigomandibular (parte vertical)<br><br>
  c. Plano oclusal dos dentes mandibulares posteriores<br><br>
  5. Orientação do bisel da agulha: importância menor do que em outros bloqueios nervosos, porque a agulha se aproxima do nervo alveolar inferior aproximadamente em ângulo reto<br><br>
  6. Procedimento<br><br>
  <br>
  a. Assumir a posição correta.<br><br>
  •	Para um BNAI direito, um administrador destro deve se sentar na posição de 8 horas de frente para o paciente.<br><br>
  •	Para um BNAI esquerdo, um administrador destro deve se sentar na posição de 10 horas voltado para a mesma direção do paciente, posicionar o paciente em decúbito dorsal (recomendado) ou em semidecúbito (caso necessário). A boca deve estar bem aberta para possibilitar maior visibilidade e acesso ao local de injeção, localizando o ponto de penetração da agulha (injeção).<br><br>
  •	Três parâmetros devem ser considerados durante a administração do BNAI: (1) a altura da injeção, <br><br>
  (2) a colocação anteroposterior da agulha (que ajuda a localizar um ponto preciso para a entrada da agulha)<br><br>
  (3) a profundidade de penetração (que determina a localização do nervo alveolar inferior).<br><br>
  •	Altura da injeção: colocar o dedo indicador ou o polegar de sua mão esquerda na incisura coronoide. Uma linha imaginária se estende posteriormente da ponta do dedo na incisura coronoide até a parte mais profunda da rafe pterigomandibular (no ponto em que esta se volta verticalmente para cima em direção à maxila), determinando a altura da injeção. Essa linha imaginária deve ser paralela ao plano oclusal dos dentes molares mandibulares. Em muitos pacientes, ela está de 6 a 10 mm acima do plano oclusal.<br><br>
  •	O dedo na incisura coronoide é usado para puxar lateralmente os tecidos, distendendo-os sobre o local de injeção e esticando-os, possibilitando que a inserção da agulha seja menos traumática e também proporcionando melhor visibilidade.<br><br>
  •	O ponto de inserção da agulha se situa a três quartos da distância anteroposterior da incisura coronoide de volta até a parte mais profunda da rafe pterigomandibular.<br><br>
  Nota: A linha deve se iniciar no ponto médio da incisura e terminar na parte mais profunda (mais posterior) da rafe pterigomandibular, no ponto em que esta se curva verticalmente para cima em direção ao palato.<br><br>
  •	A borda posterior do ramo da mandíbula pode ser aproximada intraoralmente usando-se a rafe pterigomandibular no ponto em que ela se curva verticalmente para cima em direção à maxila*. <br><br>
  •	Um método alternativo para se obter uma aproximação do comprimento do ramo da mandíbula consiste em colocar seu polegar sobre a incisura coronoide e seu dedo indicador extraoralmente sobre a borda posterior do ramo da mandíbula e estimar a distância entre esses pontos. No entanto, muitos profissionais (incluindo o autor) têm dificuldade em estimar a largura do ramo da mandíbula dessa maneira.<br><br>
  •	Preparar o tedido no local da injeção:<br><br>
           (1) Secar com gaze estéril.<br><br>
           (2) Aplicar um antisséptico tópico (opcional).<br><br>
           (3) Aplicar o anestésico tópico por 1 a 2 minutos.<br><br>
  Colocar o corpo da seringa no canto da boca do lado contralateral.<br><br>
  •	Local anteroposterior de injeção: A penetração da agulha se dá na interseção de dois pontos.<br><br>
  (a) O ponto 1 se situa ao longo de uma linha horizontal da incisura coronoide até a parte mais profunda da rafe pterigomandibular, no ponto em que ela ascende verticalmente em direção ao palato, como acabamos de descrever.<br><br>
  (b) O ponto 2 está numa linha vertical através do ponto 1, a cerca de três quartos da distância da borda anterior do ramo da mandíbula. Isso determina o local anteroposterior de injeção.<br><br>
  •	Profundidade de penetração: no terceiro parâmetro do BNAI deve haver o contato com o osso. Avançar a agulha devagar até poder sentir que ela encontra uma resistência óssea.<br><br>
  (a) Em muitos pacientes não é necessário injetar nada da solução anestésica local ao se penetrar o tecido mole.<br><br>
  (b) Em pacientes ansiosos ou sensíveis pode ser aconselhável depositar pequenos volumes enquanto se avança a agulha. Soluções AL tamponadas diminuem a sensibilidade do paciente durante o avanço da agulha.<br><br>
  (c) A profundidade média de penetração até o contato com o osso vai ser de 20 a 25 mm, aproximadamente de dois terços a três quartos do comprimento de uma agulha dentária longa.<br><br>
  (d) A ponta da agulha deve estar localizada agora num ponto ligeiramente superior ao forame mandibular (em que o nervo alveolar inferior penetra [desaparece] no osso). O forame não pode ser visto nem palpado clinicamente.<br><br>
  (e) Caso se faça contato com o osso cedo demais (menos da metade do comprimento de uma agulha dentária longa), a ponta da agulha está geralmente localizada demasiado anteriormente (lateralmente) no ramo da mandíbula.<br><br>
  (1) Retrair a agulha ligeiramente, mas não retirá-la do tecido.<br><br>
  (2) Trazer o corpo da seringa mais para a frente da boca, sobre o canino ou o incisivo lateral do lado contralateral.<br><br>
  (3) Redirecionar a agulha até que seja obtida uma profundidade de inserção mais apropriada. A ponta da agulha está localizada agora mais posteriormente no sulco mandibular.<br><br>
  (f) Se não houver o contato com o osso, a ponta da agulha está localizada demasiado posteriormente (medialmente). Retirá-la ligeiramente (deixando aproximadamente um quarto de seu comprimento no tecido) e reposicionar o corpo da seringa mais posteriormente (sobre os molares mandibulares).<br><br>
  (1) Continuar a inserção da agulha até fazer contato com o osso a uma profundidade apropriada (20 a 25 mm).<br><br>
  •	Introduzir a agulha. Ao fazer contato com o osso, retrair aproximadamente 1 mm para evitar a injeção subperiosteal.<br><br>
  •	Aspirar em dois planos. Caso a aspiração seja negativa, depositar lentamente 1,5 ml de anestésico num período mínimo de 60 segundos. (Devido à elevada incidência de aspiração positiva e à tendência natural a se depositar a solução demasiado rapidamente, a sequência de injeção lenta, nova aspiração, injeção lenta e nova aspiração é fortemente recomendada.)<br><br>
  •	Retirar lentamente a seringa e aspirar novamente quando aproximadamente metade de seu comprimento permanecer nos tecidos. Caso a aspiração seja negativa, depositar parte da solução restante (0,2 ml) para anestesiar o nervo lingual.<br><br>
  (1) Em muitos pacientes essa injeção deliberada para a anestesia do nervo lingual não é necessária, porque o anestésico local do BNAI anestesia o nervo lingual.<br><br>
  g. Retirar a seringa lentamente e tornar a agulha segura.<br><br>
  h. Depois de aproximadamente 20 segundos, fazer o paciente retornar à posição ereta ou semiereta.<br><br>
  i. Aguardar de 3 a 5 minutos antes de testar quanto à anestesia pulpar.<br><br>
  <br>
  <br>
  <br>
  <h3><b>BLOQUEIO DO NERVO BUCAL<br><br></b></h3>
  O bloqueio do nervo bucal, designado comumente como bloqueio do nervo bucal longo, tem uma frequência de sucesso próxima dos 100%. A razão disso é que o nervo bucal é facilmente acessível ao anestésico local, por se situar imediatamente abaixo da membrana mucosa, e não enterrado no osso.<br><br>
  <b>Nervo Anestesiado<br><br></b>
  Bucal (um ramo da divisão anterior de V3).<br><br>
  <b>Área Anestesiada<br><br></b>
  Tecidos moles e periósteo bucal dos dentes molares mandibulares.<br><br>
  <br>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-col size="6">
  <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711344544565821550/Imagem_2_mandibula.png" >
  </ion-img>
</ion-col>


<ion-grid>
  <ion-row>
    <ion-col>
<div class="ion-text-justify">

  <h3><b>Técnica</b></h3>
  1 - É recomendada uma agulha longa de calibre 25 ou 27. Isso é usado mais frequentemente porque o bloqueio do nervo bucal é administrado em geral imediatamente após um BNAI. A agulha longa é recomendada devido ao local de depósito posterior, e não à profundidade de inserção tecidual (que é mínima).<br><br>
  2 - Área de inserção: membrana mucosa distal e bucal em relação ao dente molar mais distal no arco.<br><br>
  3 - Área-alvo: nervo bucal ao passar sobre a borda anterior do ramo da mandíbula<br><br>
  4 - Marcos: molares mandibulares, prega mucobucal<br><br>
  5 - Orientação do bisel: em direção ao osso durante a injeção<br><br>
  6 - Procedimento:<br><br>
  A. Assuma a posição correta:<br><br>
  (1) Para um bloqueio do nervo bucal direito, um operador destro deve se sentar na posição de 8 horas diretamente de frente para o paciente.<br><br>
  (2) Para um bloqueio do nervo bucal esquerdo, um administrador destro deve se sentar na posição de 10 horas voltado para a mesma direção do paciente.<br><br>
  B. Posicionar o paciente em decúbito dorsal (recomendado) ou em semidecúbito.<br><br>
  C. Preparar os tecidos para a penetração num ponto distal e bucal ao molar mais posterior.<br><br>
  (1) Secar com gaze estéril.<br><br>
  (2) Aplicar um antisséptico tópico (opcional).<br><br>
  (3) Aplicar o anestésico tópico por 1 a 2 minutos.<br><br>
  D. Com seu dedo indicador esquerdo (caso destro), puxar lateralmente os tecidos moles bucais na área de injeção, para melhorar a visibilidade. Tecidos esticados permitem uma penetração atraumática da agulha.<br><br>
  E. Dirigir a seringa para o local de injeção com o bisel com a face para baixo em direção ao osso e a seringa alinhada paralelamente ao plano oclusal do lado da injeção, porém em posição bucal em relação aos dentes.<br><br>
  F. Penetrar a membrana mucosa no local de injeção, em posição distal e bucal relativamente ao último molar.<br><br>
  G. Avançar a agulha devagar até fazer contato de leve com o mucoperiósteo.<br><br>
  (1) Para evitar a dor ao contato da agulha com o mucoperiósteo, depositar algumas gotas de anestésico local imediatamente antes do contato.<br><br>
  (2) A profundidade de penetração raramente é de mais de 2 a 4 mm e geralmente de apenas 1 ou 2 mm.<br><br>
  H. Aspirar.<br><br>
  I. Caso a aspiração seja negativa, depositar lentamente 0,3 ml (aproximadamente um oitavo de um cartucho) em 10 segundos.<br><br>
  (1) Caso o tecido no local da injeção infle como um balão (fique tumefeito durante a injeção), interromper o depósito da solução.<br><br>
  (2) Se a solução escorrer para fora do local de injeção (voltando para a boca do paciente) durante o depósito:<br><br>
  (a) Parar a injeção.<br><br>
  (b) Avançar a ponta da agulha mais profundamente no tecido.<br><br>
  (c) Aspirar novamente.<br><br>
  (d) Continuar a injeção.<br><br>
  J. Retirar a seringa devagar e tornar a agulha segura imediatamente.<br><br>
  K. Aguardar aproximadamente 3 a 5 minutos antes de iniciar o procedimento dentário planejado.<br><br>
  <br>
  <br>

  <h3><b>BLOQUEIO DO NERVO MANDIBULAR: A TÉCNICA DE GOW-GATES</b></h3><br><br>
  A técnica Gow-Gates é um verdadeiro bloqueio nervoso mandibular, por proporcionar anestesia sensorial em praticamente toda a distribuição de V3. O nervo alveolar inferior, o lingual, o milo-hióideo, o mentual, o incisivo, o auriculotemporal e o bucal são todos bloqueados pela injeção de Gow-Gates.<br><br>
  <br>
  <br>
  <b>Nervos Anestesiados</b><br><br>
  1. Alveolar inferior<br><br>
  2. Mentual<br><br>
  3. Incisivo<br><br>
  4. Lingual<br><br>
  5. Milo-hióideo<br><br>
  6. Auriculotemporal<br><br>
  7. Bucal (em 75% dos pacientes)<br><br>
  <br>
  <br>
  <b>Áreas Anestesiadas</b><br><br>
  1. Dentes mandibulares até a linha média<br><br>
  2. Mucoperiósteo e membranas mucosas bucais do lado da injeção<br><br>
  3. Dois terços anteriores da língua e assoalho da cavidade oral<br><br>
  4. Tecidos moles e periósteo da língua<br><br>
  5. Corpo da mandíbula, parte inferior do ramo da mandíbula<br><br>
  6. Pele sobre o zigoma, parte posterior da bochecha e regiões temporais.<br><br>

</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-col size="6">
  <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711347791703703602/imagem_3_mandibula.png" >
  </ion-img>
</ion-col>

<ion-grid>
  <ion-row>
    <ion-col>
<div class="ion-text-justify">


  <h3><b>Técnica</b></h3>
  1. Recomendada uma agulha longa de calibre 25 ou 27<br><br>
  2. Área de inserção: membrana mucosa na parte mesial do ramo da mandíbula, numa linha da incisura intertrágica até o canto da boca, imediatamente distal ao segundo molar maxilar<br><br>
  3. Área-alvo: aspecto lateral do colo condilar, logo abaixo da inserção do músculo pterigoide lateral.<br><br>
  4. Marcos<br><br>
  a. Extraorais<br><br>
  (1) Borda inferior do trago (incisura intertrágica). O marco correto é o centro do meato auditivo externo, que está oculto pelo trago; por esta razão, sua borda inferior é adotada como auxílio visual.<br><br>
  (2) Canto da boca<br><br>
  b. Intraorais<br><br>
  (1) Altura da injeção estabelecida pela colocação da ponta da agulha logo abaixo da cúspide mesiolingual (mesiopalatina) do segundo molar maxilar.<br><br>
  (2) Penetração dos tecidos moles num ponto imediatamente distal ao segundo molar maxilar como a altura estabelecida na etapa precedente.<br><br>
  5. Orientação do bisel: não tem importância crítica<br><br>
  6. Procedimento<br><br>
  a. Assumir a posição correta. <br><br>
  (1) Para um BNMGG direito, um administrador destro deve se sentar na posição de 8 horas de frente para o paciente.<br><br>
  (2) Para um BNMGG esquerdo, um administrador destro deve se sentar na posição de 10 horas voltado para a mesma direção que o paciente.<br><br>
  (3) Essas são as mesmas posições usadas para um BNAI direito e um BNAI esquerdo.<br><br>
  b. Posicionar o paciente.<br><br>
  (1) É recomendado o decúbito dorsal, embora a posição de semidecúbito também possa ser usada.<br><br>
  (2) Pedir ao paciente para estender o pescoço e abrir bem a boca por toda a duração da técnica. O côndilo assume então uma posição mais frontal e fica mais próximo do tronco nervoso mandibular.<br><br>
  c. Localizar os marcos extraorais.<br><br>
  (1) Incisura intertrágica<br><br>
  (2) Canto da boca<br><br>
  d. Colocar seu dedo indicador ou seu polegar na incisura coronoide; a determinação dessa incisura não é essencial para o sucesso do bloqueio de Gow-Gates, mas, na experiência do autor, a palpação desse marco intraoral familiar proporciona uma sensação de segurança, possibilita a retração dos tecidos moles e auxilia na determinação do local de penetração da agulha.<br><br>
  e. Visualizar os marcos intraorais.<br><br>
  (1) Cúspide mesiolingual (mesiopalatina) do segundo molar maxilar<br><br>
  (2) O local de penetração da agulha é imediatamente distal ao segundo molar maxilar, na parte alta da ponta de sua cúspide mesiolingual.<br><br>
  f. Preparar os tecidos no local para a penetração.<br><br>
  (1) Secar o tecido com gaze estéril.<br><br>
  (2) Aplicar um antisséptico tópico (opcional).<br><br>
  (3) Aplicar o anestésico tópico por um período mínimo de 1 minuto.<br><br>
  g. Dirigir a seringa (segura em sua mão direita) para o local de injeção a partir do canto da boca do lado oposto (como no BNAI).<br><br>
  h. Introduzir a agulha delicadamente nos tecidos no local de injeção, imediatamente distal ao segundo molar maxilar, na parte alta de sua cúspide mesiolingual (mesiopalatina).<br><br>
  i. Alinhar a agulha com o plano que se estende do canto da boca do lado oposto à incisura intertrágica do lado da injeção. Ela deve estar paralela ao ângulo entre o ouvido e a face.<br><br>
  j. Dirigir a seringa à área-alvo no trago.<br><br>
  (1) O corpo da seringa se situa no canto da boca sobre os pré-molares, mas sua posição pode variar dos molares aos incisivos, dependendo da divergência do ramo mandibular, conforme avaliado pelo ângulo do ouvido à lateral da face.<br><br>
  (2) A altura de inserção acima do plano oclusal mandibular é consideravelmente maior (10 a 25 mm, dependendo do tamanho do paciente) que aquela do BNAI.<br><br>
  (3) Na presença de um terceiro molar maxilar numa oclusão normal, o local de penetração da agulha é imediatamente distal a esse dente.<br><br>
  k. Avançar a agulha devagar até fazer contato com o osso.<br><br>
  (1) O osso com que se faz contato é o colo do côndilo.<br><br>
  (2) A profundidade média de penetração do tecido mole até o osso é de 25 mm, embora seja observada alguma variação. Para um dado paciente, a profundidade de penetração dos tecidos moles com o uso do BNMGG se aproxima daquela com o BNAI.<br><br>
  (3) Caso não haja contato com o osso, retirar um pouco a agulha e redirecioná-la. (A experiência com a técnica de Gow-Gates demonstrou que a deflexão medial da agulha é a causa mais comum de não contato com o osso.) Mover o corpo da seringa um pouco mais distalmente, angulando assim anteriormente a ponta da agulha, e fazer a agulha avançar novamente até fazer contato com o osso.<br><br>
  (a) Uma segunda causa de não contato com o osso é o fechamento parcial da boca do paciente. Depois que o paciente fecha a boca, ainda que ligeiramente, ocorrem duas situações negativas: <br><br>
  (1) A espessura do tecido mole aumenta <br><br>
  (2) o côndilo se move numa direção distal. Ambas dificultam a localização do colo condilar com a agulha.<br><br>
  (4) Se não houver o contato com o osso, não depositar nenhum anestésico local.<br><br>
  l. Retirar a agulha 1 mm.<br><br>
  m. Aspirar em 2 planos.<br><br>
  n. Caso a aspiração seja positiva, retrair ligeiramente a agulha, angulá-la superiormente, reintroduzi-la, aspirar novamente e, se ela for agora negativa, depositar a solução. A aspiração positiva ocorre habitualmente na artéria maxilar interna, que está localizada inferiormente à área-alvo. A frequência de aspiração positiva com o uso da técnica de BNMGG é de aproximadamente 2%.<br><br>
  o. Se a aspiração for negativa, depositar 1,8 ml da solução em 60 a 90 segundos. Gow-Gates recomendou originalmente que fossem depositados 3 ml do anestésico.33 Todavia, a experiência com o BNMGG mostrou que 1,8 ml é um volume geralmente adequado para proporcionar uma anestesia clinicamente adequada em praticamente todos os casos. Caso haja uma anestesia parcial após a administração de 1,8 ml, é recomendada uma segunda injeção de<br><br>
  aproximadamente 1,2 ml.<br><br>
  p. Retirar a seringa e tornar a agulha segura.<br><br>
  q. Solicitar que o paciente mantenha a boca aberta por 1 a 2 minutos após a injeção para permitir a difusão da solução anestésica.<br><br>
  (1) O uso de um bloqueador de mordida de borracha pode ajudar o paciente a manter a boca aberta.<br><br>
  r. Após o término da paciente, fazer o paciente retornar à posição ereta ou semiereta.<br><br>
  s. Aguardar pelo menos 3 a 5 minutos antes de iniciar um procedimento dentário. O início da anestesia ao BNMGG pode ser um pouco mais lento, requerendo 5 minutos ou mais, pelas seguintes razões:<br><br>
  (1) Maior diâmetro do tronco nervoso no local da injeção<br><br>
  (2) Distância (5 a 10 mm) do local de depósito do anestésico ao tronco nervoso.<br><br>

  <h3><b>BLOQUEIO DE VAZIRANI-AKINOSI</b></h3><br><br>
  Embora essa técnica possa ser usada sempre que seja desejada a anestesia mandibular, sua principal indicação continua a ser naquelas situações em que a abertura mandibular limitada impede o uso de outras técnicas de injeção mandibular. <br><br>
  <br>
  <br>
  <b>Nervos Anestesiados</b><br><br>
  1. Alveolar inferior<br><br>
  2. Incisivo<br><br>
  3. Mentual<br><br>
  4. Lingual<br><br>
  5. Milo-hióideo<br><br>
  <br>
  <br>
  <b>Áreas Anestesiadas</b><br><br>
  1. Dentes mandibulares até a linha média<br><br>
  2. Corpo da mandíbula e parte inferior do ramo mandibular<br><br>
  3. Mucoperiósteo e membrana mucosa bucais anteriores ao forame mentual<br><br>
  4. Dois terços anteriores da língua e assoalho da cavidade oral (nervo lingual)<br><br>
  5. Tecidos moles e periósteo linguais (nervo lingual)<br><br>

</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-col size="6">
  <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711349502216372234/Imagem_4_mandibula.png" >
  </ion-img>
</ion-col>

<ion-grid>
  <ion-row>
    <ion-col>
<div class="ion-text-justify">

  <h3><b>Técnica</b></h3>
  1. É recomendada uma agulha longa de calibre 25 (embora uma agulha longa de calibre 27 possa ser preferida em pacientes cujo ramo mandibular se afunile lateralmente mais do que o habitual).<br><br>
  2. Área de inserção: tecidos moles sobrejacentes à borda medial (lingual) do ramo mandibular diretamente adjacente à tuberosidade maxilar, na parte alta de junção mucogengival circunvizinha ao terceiro molar maxilar.<br><br>
  3. Área-alvo: tecidos moles na borda medial (lingual) do ramo mandibular na região do nervo alveolar inferior, do nervo lingual e do nervo milo-hióideo em seu trajeto inferior do forame oval ao forame mandibular (a altura da injeção com o uso da técnica de Vazirani-Akinosi é abaixo daquela do BNMGG, porém acima daquela do BNAI)<br><br>
  4. Marcos:<br><br>
  a. Junção mucogengival do terceiro (ou do segundo) molar maxilar<br><br>
  b. Tuberosidade maxilar<br><br>
  c. Incisura coronoide no ramo da mandíbula<br><br>
  5. Orientação do bisel (a orientação do bisel no bloqueio mandibular de boca fechada é muito importante): o bisel deve estar orientado em direção oposta ao osso do ramo da mandíbula (p. ex., bisel voltado para a linha média)<br><br>
  6. Procedimento:<br><br>
  a. Assumir a posição correta. Para um bloqueio Vazirani-Akinosi direito ou esquerdo, um administrador destro deve se sentar na posição de 8 horas de frente para o paciente.<br><br>
  b. Posicionar o paciente em decúbito (recomendado) ou em semidecúbito.<br><br>
  c. Colocar seu dedo indicador ou polegar esquerdo sobre a incisura coronoide, refletindo lateralmente os tecidos do aspecto medial do ramo da mandíbula. Refletir os tecidos moles auxilia na visualização do local de injeção e diminui o trauma durante a inserção da agulha.<br><br>
  d. Visualizar os marcos:<br><br>
  (1) Junção mucogengival do terceiro ou do segundo molar maxilar<br><br>
  (2) Tuberosidade maxilar<br><br>
  e. Preparar os tecidos no local da penetração:<br><br>
  (1) Secar com gaze estéril.<br><br>
  (2) Aplicar um antisséptico tópico (opcional).<br><br>
  (3) Aplicar o anestésico tópico por um período mínimo de 1 minuto.<br><br>
  f. Pedir ao paciente para efetuar a oclusão suavemente, com as bochechas e os músculos da mastigação relaxados.<br><br>
  g. Refletir lateralmente os tecidos moles sobre a borda medial do ramo da mandíbula.<br><br>
  h. O corpo da seringa é mantido paralelo ao plano oclusal maxilar, com a agulha ao nível da junção mucogengival do terceiro (ou do segundo) molar maxilar.<br><br>
  i. Dirigir a agulha posteriormente e um pouco lateralmente, de modo que ela avance numa tangente ao processo alveolar maxilar posterior e paralela ao plano oclusal maxilar.<br><br>
  j. Orientar o bisel em direção oposta ao ramo mandibular; assim, à medida que a agulha avança pelos tecidos, sua deflexão se dá em direção ao ramo da mandíbula e ela permanece bem próxima ao nervo alveolar inferior.<br><br>
  k. Avançar a agulha 25 mm para dentro do tecido (para um adulto de tamanho médio). Essa distância é medida a partir da tuberosidade maxilar. A ponta da agulha deve se situar na parte média do espaço pterigomandibular, próximo aos ramos de V3.<br><br>
  l. Aspirar em dois planos.<br><br>
  m. Caso a aspiração seja negativa, depositar 1,5 a 1,8 ml da solução anestésica em aproximadamente 30 segundos.<br><br>
  n. Retirar a seringa lentamente e tornar a agulha segura imediatamente.<br><br>
  o. Após a injeção, fazer o paciente retornar a uma posição ereta ou semiereta.<br><br>
  p. A paralisia dos nervos motores ocorre tão ou mais rapidamente que a anestesia sensorial. O paciente com trismo começa a perceber maior capacidade de abrir a mandíbula logo após o depósito do anestésico.<br><br>
  q. A anestesia do lábio e da língua é notada como se iniciando em aproximadamente 1 a 1 ½ minuto; o procedimento dentário geralmente pode ser iniciado dentro de 5 minutos.<br><br>
  r. Caso a paralisia nervosa motora esteja presente, mas a anestesia sensorial não seja adequada para permitir o início do procedimento dentário, administrar um novo bloqueio de Vazirani-Akinosi ou, como o paciente agora consegue abrir a boca, efetuar um bloqueio nervoso alveolar inferior, de Gow-Gates ou incisivo padrão ou uma injeção LPD ou intraóssea.<br><br>
  <br>
  <br>
  <h3><b> BLOQUEIO DO NERVO MENTUAL</b></h3><br><br>
  O nervo mentual é um ramo terminal do nervo alveolar inferior. Saindo do forame mentual no ápice dos pré-molares mandibulares ou próximo disso, ele proporciona inervação sensorial aos tecidos moles bucais situados anteriormente ao forame e aos tecidos moles do lábio inferior e do queixo do lado da injeção.<br><br>
  <br>
  <br>
  <b> Nervo Anestesiado</b><br><br>
  Mentual, um ramo terminal da alveolar inferior.
  <br>
  <br>
  <b>Áreas Anestesiadas</b><br><br>
  Membrana mucosa bucal, anteriormente ao forame mentual (em torno do segundo pré-molar) até a linha média e a pele do lábio inferior e do queixo.

</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-col size="6">
  <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711351334712115240/Imagem_5_mandibula.png" >
  </ion-img>
</ion-col>

<ion-grid>
  <ion-row>
    <ion-col>
<div class="ion-text-justify">


  <h3><b>Técnica</b></h3>
  1. É recomendada uma agulha curta de calibre 25 ou 27.<br><br>
  2. Área de inserção: prega mucobucal no forame mentual ou imediatamente anterior ao mesmo<br><br>
  3. Área-alvo: nervo mentual à saída do forame mentual (geralmente localizado entre o ápice do primeiro pré-molar e o do segundo)<br><br>
  4. Marcos: pré-molares mandibulares e prega mucobucal<br><br>
  5. Orientação do bisel: em direção ao osso durante a injeção<br><br>
  a. Assumir a posição correta.<br><br>
  (1) Para um bloqueio do nervo mentual direito ou esquerdo, um administrador destro deve se sentar confortavelmente em frente ao paciente, de modo que a seringa possa ser colocada na boca abaixo da linha de visão do paciente.<br><br>
  b. Posicionar o paciente.<br><br>
  (1) O decúbito dorsal é recomendado, mas o semidecúbito é aceitável.<br><br>
  c. O paciente pode comentar que a pressão do dedo nessa área produz irritação, por ser o nervo mentual comprimido contra o osso.<br><br>
  (1) Caso se disponha de radiografias, o nervo mentual pode ser localizado com facilidade.<br><br>
  d. Preparar o tecido no local da penetração.<br><br>
  (1) Secar com gaze estéril.<br><br>
  (2) Aplicar um antisséptico tópico (opcional).<br><br>
  (3) Aplicar o anestésico tópico por um período mínimo de 1 minuto.<br><br>
  e. Com seu dedo indicador esquerdo, puxar lateralmente o lábio inferior e os tecidos moles bucais.<br><br>
  (1) A visibilidade melhora.<br><br>
  (2) Tecidos bem esticados permitem uma penetração atraumática.<br><br>
  f. Orientar a seringa com o bisel dirigido ao osso.<br><br>
  g. Penetrar a membrana mucosa no local de injeção, no canino ou no primeiro pré-molar, dirigindo a seringa ao forame mentual.<br><br>
  h. Avançar a agulha bem devagar até chegar ao forame. A profundidade de penetração é de 5 a 6 mm. Para o bloqueio do nervo mentual ser bem-sucedido, não há nenhuma necessidade de entrar no forame mentual ou de fazer contato com o osso.<br><br>
  i. Aspirar em dois planos.<br><br>
  j. Caso a aspiração seja negativa, depositar lentamente 0,6 ml (aproximadamente um terço do cartucho) em 20 segundos. Se o tecido no local da injeção inflar como<br><br>
  um balão (ficar tumefeito ao se injetar o anestésico), interromper o depósito e remover a seringa.<br><br>
  k. Retirar a seringa e tornar a agulha segura imediatamente.<br><br>
  (1) Aguardar de 2 a 3 minutos antes de iniciar o procedimento.<br><br>
  <br>
  <br>
 <h3><b>  BLOQUEIO DO NERVO INCISIVO </b></h3><br><br>
  O nervo incisivo é um ramo terminal do nervo alveolar inferior. Originando-se como uma continuação direta do nervo alveolar inferior no forame mentual, o nervo incisivo segue anteriormente pelo canal incisivo, fornecendo inervação sensorial àqueles dentes localizados anteriormente ao forame mentual. O nervo é sempre anestesiado quando um bloqueio nervoso alveolar inferior ou mandibular é bem-sucedido; por essa razão, o bloqueio do nervo incisivo não é necessário em casos em que esses bloqueios são administrados.<br><br>
  <br>
  <br>
  <b> Nervos Anestesiados</b><br><br>
  Mentual e incisivo.<br><br>
  <br>
  <br>
  <b>Áreas Anestesiadas</b><br><br>
  1. Membrana mucosa bucal anterior ao forame mentual, geralmente do segundo pré-molar até a linha média<br><br>
  2. Lábio inferior e pele do queixo<br><br>
  3. Fibras nervosas pulpares aos pré-molares, ao canino e aos incisivos.<br><br>

</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-col size="6">
  <ion-img src="https://cdn.discordapp.com/attachments/562043807454068741/711352654583824505/Imagem_6_mandibula.png" >
  </ion-img>
</ion-col>


<ion-grid>
  <ion-row>
    <ion-col>
<div class="ion-text-justify">

  <h3><b>Técnica</b></h3>
  1. É recomendada uma agulha curta de calibre 27.<br><br>
  2. Área de inserção: prega mucobucal no forame mentual ou imediatamente anterior a ele<br><br>
  3. Área-alvo: forame mentual, através do qual o nervo mentual sai e no interior do qual o nervo incisivo está localizado<br><br>
  4. Marcos: pré-molares mandibulares e prega mucobucal<br><br>
  5. Orientação do bisel: em direção ao osso durante a injeção<br><br>
  6. Procedimento<br><br>
  a. Assumir a posição correta.<br><br>
  (1) Para um bloqueio do nervo incisivo direito ou esquerdo, sente-se confortavelmente de frente para o paciente, de modo que a seringa possa ser colocada na boca abaixo da linha de visão do paciente.<br><br>
  b. Posicionar o paciente.<br><br>
  (1) O decúbito dorsal é recomendado, mas o semidecúbito é aceitável.<br><br>
  (2) Solicitar que o paciente feche parcialmente a boca; isso possibilita o acesso mais fácil ao local de injeção.<br><br>
  c. Localizar o forame mentual.<br><br>
  (1) Colocar seu polegar ou seu dedo indicador na prega mucobucal contra o corpo da mandíbula na área do primeiro molar.<br><br>
  (2) Movê-lo anteriormente bem devagar, até que você sinta o osso se tornar irregular e algo côncavo.<br><br>
  (a) O osso posterior e anterior ao forame mentual é liso; todavia, o osso imediatamente em volta do forame parece mais áspero ao tato.<br><br>
  (b) O forame mentual é geralmente encontrado no ápice do segundo pré-molar. Ele pode ser encontrado, porém, anterior ou posteriormente a esse local.<br><br>
  (c) O paciente pode comentar que a pressão do dedo nessa área produz irritação, pois o nervo mentual é comprimido contra o osso.<br><br>
  (3) Caso se disponha de radiografias, o forame mentual pode ser localizado com facilidade.<br><br>
  d. Preparar os tecidos no local da penetração.<br><br>
  (1) Secar com gaze estéril.<br><br>
  (2) Aplicar um antisséptico tópico (opcional).<br><br>
  (3) Aplicar o anestésico tópico por um período mínimo de 1 minuto.<br><br>
  e. Com seu dedo indicador esquerdo, puxar lateralmente o lábio inferior e os tecidos moles bucais.<br><br>
  (1) A visibilidade melhora.<br><br>
  (2) Tecidos bem esticados permitem uma penetração atraumática.<br><br>
  f. Orientar a seringa com o bisel voltado para o osso.<br><br>
  g. Penetrar a membrana mucosa no canino ou no primeiro pré-molar, dirigindo a agulha ao forame mentual.<br><br>
  h. Avançar a agulha bem devagar até chegar ao forame mentual. A profundidade de penetração é de 5 a 6 mm. Não há nenhuma necessidade de se entrar no forame mentual para que o bloqueio do nervo incisivo seja bem-sucedido.<br><br>
  i. Aspirar em dois planos.<br><br>
  j. Caso a aspiração seja negativa, depositar lentamente 0,6 ml (aproximadamente um terço de um cartucho) em 20 segundos.<br><br>
  (1) Durante a injeção, manter uma pressão leve do dedo diretamente sobre o local de injeção para aumentar o volume de solução entrando no forame mentual. Isso pode ser feito com uma pressão intra ou extraoral.<br><br>
  (2) Os tecidos no local da injeção devem inflar como um balão, porém muito ligeiramente.<br><br>
  k. Retirar a seringa e tornar a agulha segura imediatamente.<br><br>
  l. Continuar a aplicar pressão no local de injeção por 2 minutos.<br><br>
  m. Aguardar de 3 a 5 minutos antes de iniciar o procedimento dentário.<br><br>
  (1) A anestesia do nervo mentual (lábio inferior, tecidos moles bucais) é observada dentro de segundos do depósito.<br><br>
  (2) A anestesia do nervo incisivo requer um tempo adicional.<br><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h3><b>REFERÊNCIA:</b></h3><br><br>
  MALAMED, Stanley F. Manual de Anestesia Local. 6ª edição. Rio de Janeiro: Editora Elsevier Ltda, 2013. <br><br>

</div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
