<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="list-group">
    <ul>
  <li><a href="/movie1" >Video 1</a></li>
  </ul>
  <ul>
<li><a href="/movie2" >Video 2</a></li>
</ul>
<ul>
<li><a href="/movie3" >Video 3</a></li>
</ul>
<ul>
<li><a href="/movie4" >Video 4</a></li>
</ul>
  </div>
</ion-content>
